<div class="positioning , fontOverpass">
    <div class="background">
        <div class="adress">
            <b>
               <h1>Imprint</h1><br>
                <br>
                Angaben gemäß § 5 TMG<br>
                Sefa Gür<br>
                Hinterestr.6<br>
                78564 Wehingen<br>
                <br>
                Kontakt<br>
                Telefon: 0177 2717426<br>
                E-Mail: sefa_guer&#64;hotmail.com<br>
            </b>
        </div> <br>
        <div>
            Editorially responsible<br>
            <b>Sefa Gür</b><br>
            <br>
            Quelle: https://www.e-recht24.de/impressum-generator.html<br>
            <br>
            <h2>Data protection</h2><br>
            The person responsible within the meaning of the data protection laws, in particular the EU General Data<br>
            Protection<br>
            Regulation (GDPR), is:<br>
        </div> <br>
        Sefa Gür<br>
        <br>
        <h2>Your data subject rights</h2><br>
        You can exert the following rights at any time using the contact details provided for our data protection
        officer:<br>
        <br>
       Information about your data stored by us and their processing (Article 15 GDPR),<br>
        Correction of incorrect personal data (Article 16 GDPR),<br>
        Deletion of your data stored by us (Article 17 GDPR),<br>
        Restriction of data processing if we are not yet allowed to delete your data due to legal obligations (Article
        18<br>
        GDPR),
        Objection to the processing of your data by us (Article 21 GDPR) and<br>
        Data transferability if you have consented to data processing or have concluded a contract with us (Article
        20<br>
        GDPR).
        If you have given us your consent, you can revoke this at any time with effect for the future.<br>
        <br>
        You can contact a supervisory authority at any time with a complaint, e.g. B. to the competent supervisory
        authority<br>
        of the federal state of your place of residence or to the authority responsible for us as the responsible
        body.<br>
        <br>
        A list of the supervisory authorities (for the non-public area) with addresses can be found at:<br>
        https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html.<br>
        <br>
       <h2>Information about your right of objection according to Art. 21 GDPR </h2><br>
        Individual right of objection
        You have the right, for reasons arising from your particular situation, to object at any time to the processing
        of<br>
        personal data relating to you, which is based on Article 6 (1) (f) GDPR (data processing on the basis of a
        balance<br>
        of interests); this also applies to profiling based on this provision within the meaning of Art. 4 No. 4
        GDPR.<br>
        <br>
        If you file an objection, we will no longer process your personal data unless we can demonstrate compelling<br>
        legitimate grounds for processing that outweigh your interests, rights and freedoms, or the processing serves
        to<br>
        assert, exercise or defend legal claims.<br>
        <br>
        Recipient of an objection<br>
        Sefa Gür<br>
        <br>
       <h3 > Change to our privacy policy</h3>
        We reserve the right to adapt this data protection declaration so that it always corresponds to the current
        legal
        requirements or to implement changes to our services in the data protection declaration, e.g. when introducing
        new
        services. The new data protection declaration will then apply to your next visit.
        <br>
      <h3>Questions to the data protection officer</h3>
        If you have any questions about data protection, please send us an email or contact the person responsible for
        data
        protection in our organization directly:
        <br>
        The data protection declaration was created with the help of activeMind AG, the experts for external data
        protection
        officers (Version #2020-09-30).
    </div>
</div>