.positioning {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: black;
    max-width: 1440px;
}

.background {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    transition: font-size 0.5s ease;
    color: white;

    b {
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
    }
}

.adress {
    transition: font-size 0.5s ease;
    font-size: 24px !important;
}

h1 {
    transition: font-size 0.5s ease;
    font-size: 40px !important;
    color: blue;
}


h2 {
    transition: font-size 0.5s ease;
    font-size: 35px;
    color: red !important;
}

h3 {
    color: orange;
}


@media(max-width:1000px) {
    .background {
        margin-left: 10px;
        margin-right: 0px;
    }
}


@media(max-width:620px) {
    .background {
        transition: font-size 0.5s ease;
        font-size: 15px;
    }

    h1 {
        transition: font-size 0.5s ease;
        font-size: 25px !important;
        color: blue;
    }

    h2 {
        transition: font-size 0.5s ease;
        font-size: 20px;
        color: red !important;
    }

    .adress {
        transition: font-size 0.5s ease;
        font-size: 20px !important;
    }
}


@media(max-width:500px) {
    .positioning {
        padding-top: 100px;
        flex-direction: column-reverse;
    }

    .adress {
        font-size: 18px;

        b {
            font-size: 18px !important;
            font-weight: 600;
        }
    }

    .background {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 15px;
    }

    .adress {
        font-size: 15px;
    }
}


@media(max-width:390px) {
    .positioning {
        padding-top: 100px;
        flex-direction: column-reverse;
    }

    .adress {
        font-size: 18px;

        b {
            font-size: 12px !important;
            font-weight: 500;
        }
    }

    .background {
        font-size: 10px;
        margin-left: 5px; 
        margin-right: 5px; 
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 12px;
    }

}