<div class="positioning , fontOverpass">
    <div class="background">
        <div class="adress">
            <b>
               <h1>{{ 'imprintHeading' | translate }}</h1>
                {{ 'paragraph' | translate }}<br><br>
                Sefa Gür<br>
                Hinterestr.6<br>
                78564 Wehingen<br>
                {{ 'contact' | translate }}<br>
                {{ 'phone' | translate }}<br>
                E-Mail: sefa_guer&#64;hotmail.com
            </b>
        </div> 
        <div>
            {{ 'editoriallyResponsibleHeading' | translate }}<br>
            <b>Sefa Gür</b><br>
            {{ 'sourceLink' | translate }}<br>
            <h2> {{ 'dataProtectionHeading' | translate }}</h2><br>
            {{ 'dataProtectionResponsible' | translate }}<br>
        </div><br>
        Sefa Gür
        <br>
        <h2>{{ 'dataSubjectRightsHeading' | translate }}</h2><br>
        {{ 'dataSubjectRightsDetails' | translate }} <br>
        
        {{ 'complaintInfo' | translate }}
        <br>
        {{ 'supervisoryAuthoritiesLink' | translate }}
        <br>
       <h2>{{ 'objectionInfoHeading' | translate }}</h2><br>
       {{ 'objectionInfoDetails' | translate }}<br>
        {{ 'objectionProcessingInfo' | translate }}<br>
        {{ 'recipientOfObjection' | translate }}<br>
        Sefa Gür<br>
       <h3 >  {{ 'privacyPolicyChangeHeading' | translate }}</h3>
       {{ 'privacyPolicyChangeInfo' | translate }}
        <br>
      <h3>Questions to the data protection officer</h3>
      {{ 'dataProtectionQuestions' | translate }}
    </div>
</div>