.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    position: fixed;
    background-color: #FFFCF3;
    z-index: 999;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
}

.headerLogo {
    width: 66px;
    height: 32px;
    margin-left: 6% !important;
}

.headerMenu {
    width: 66px;
    height: 30px;
    transition: transform 0.3s;
    cursor: pointer;
    margin-right: 6% !important;
}

.headerMenu:hover {
    transform: scale(1.2);
}
.allignSwitcher{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
    font-weight: bold;
    color: gray;
    p{
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.leanguagePosition{
    position: absolute;
    right: 30%;
}

