.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    position: fixed;
    left: 6%;
    right: 6%;
    background-color: #FFFCF3;
    z-index: 999;
}

.headerLogo {
    width: 66px;
    height: 32px;
}

.headerMenu {
    width: 66px;
    height: 30px;
    transition: transform 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}