<div class="togglePisition , fontSyne">
    <div class="link">
        <a href="#aboutme">{{ 'aboutMe' | translate }}</a>
        <div class="animationLinks"></div>
    </div>
    <div class="link">
        <a href="#skills">{{ 'mySkills' | translate }}</a>
        <div class="animationLinks"></div>
    </div>
    <div class="link">
        <a href="#portfolio">Portfolio</a>
        <div class="animationLinks"></div>
    </div>
</div>

<div class="footer">
    <img class="Rectangle" src="assets/imgs/body/Rectangle 5 (2).svg" alt="">
</div>