<div class="togglePisition , fontSyne">
    <div class="link">
        <a href="#aboutme">About me</a>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
    </div>
    <div class="link">
        <a href="#skills">My skills</a>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
    </div>
    <div class="link">
        <a href="#portfolio">Portfolio</a>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
    </div>
</div>

<div class="footer">
    <img class="Rectangle" src="/assets/imgs/body/Rectangle 5 (2).svg" alt="">
</div>