<div class="portfolioPosition">
    <h1 class="fontSyne">Portfolio</h1>
    <p class="fontOverpass">This page is a sample of mywork - please feel free <br> to try them out</p>
</div>

<div>
    <div>
        <img src="" alt="">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
    <div>
        <img src="" alt="">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
</div>