<div class="portfolioPosition">
    <h1 class="fontSyne">Portfolio</h1>
    <p class="fontOverpass">This page is a sample of mywork - please feel free <br> to try them out</p>
</div>

<div class="projectsContainer" >
    <div class="project1 , hiddenX" (window:scroll)="onScroll($event, 'project1')">
        <div (mouseover)="onImageHover(true, 'project1')" (mouseout)="onImageHover(false, 'project1')">
            <img [src]="isHovered['project1'] ? 'assets/imgs/projects/join2.png' : 'assets/imgs/projects/join.png'"
                alt="">
        </div>
        <div class="projectsDescription">
            <h2 class="fontSyne , projectsHeading">Join</h2>
            <h3 class="fontSyne , projectsTools">JavaScript | HTML | CSS</h3>
            <p class="fontOverpass , projectsText">Task manager inspired by the Kanban System. Create and organize tasks
                using drag and drop functions, assign users and categories.</p>
            <div class="buttonContainer "><button (click)="gitHub('1')" class="gitButton">Git hub</button> <button (click)="Project('1')" class="testButton">Live
                    test</button></div>
        </div>
    </div>
    <div class="project2 , hiddenX" (window:scroll)="onScroll($event, 'project2')">
        <div (mouseover)="onImageHover(true, 'project2')" (mouseout)="onImageHover(false, 'project2')">
            <img [src]="isHovered['project2'] ? 'assets/imgs/projects/polloIngame.png' : 'assets/imgs/projects/polloFrame.png'"
                alt="">
        </div>
        <div class="projectsDescription">
            <h2 class="fontSyne , projectsHeading">EL POLLO LOCO</h2>
            <h3 class="fontSyne , projectsTools">JavaScript | HTML | CSS | OOP</h3>
            <p class="fontOverpass , projectsText">A JavaScript-based, object-oriented jump-and-run game. Help Pepe to
                rescue his wife from the bad chickens.</p>
            <div class="buttonContainer "><button (click)="gitHub('2')" class="gitButton">Git hub</button> <button (click)="Project('2')" class="testButton">Live
                    test</button></div>
        </div>
    </div>
    <div class="project3 , hiddenX" (window:scroll)="onScroll($event, 'project3')">
        <div (mouseover)="onImageHover(true, 'project3')" (mouseout)="onImageHover(false, 'project3')">
            <img [src]="isHovered['project3'] ? 'assets/imgs/projects/pokedexIngame.png' : 'assets/imgs/projects/pokedex.png'"
                alt="">
        </div>
        <div class="projectsDescription">
            <h2 class="fontSyne , projectsHeading">pokedex</h2>
            <h3 class="fontSyne , projectsTools">JavaScript | HTML | CSS | API</h3>
            <p class="fontOverpass , projectsText"> Based on the PokéAPI, I have created a simple library that provides
                and catalogs Pokémon information.</p>
            <div class="buttonContainer "><button  (click)="gitHub('3')" class="gitButton">Git hub</button> <button (click)="Project('3')" class="testButton">Live
                    test</button></div>
        </div>
    </div>
    <div class="project4 , hiddenX" (window:scroll)="onScroll($event, 'project4')">
        <div (mouseover)="onImageHover(true, 'project4')" (mouseout)="onImageHover(false, 'project4')">
            <img [src]="isHovered['project4'] ? 'assets/imgs/projects/portfolio-skills.png' : 'assets/imgs/projects/portfolio.png'"
                alt="">
        </div>
        <div class="projectsDescription">
            <h2 class="fontSyne , projectsHeading">Portfolio</h2>
            <h3 class="fontSyne , projectsTools">Angular | TypeScript | SCSS</h3>
            <p class="fontOverpass , projectsText">An Angular-developed portfolio showcasing personal work.</p>
            <div  class="buttonContainer "><button (click)="gitHub('4')" class="gitButton">Git hub</button></div>
        </div>
    </div>
</div>
<div class="directionLeft">
<img class="directionLeftImg" src="assets/imgs/body/pfeilLinks.svg" alt="">
</div>