<div>
    <div class="startScreen">
        <div id="tostart" class="position">
            <h1 class="fontSyne , mainHeadline">Frontend <br> {{ 'mainHeadline' | translate }}</h1>
            <div class="mainSecondHeadlinePosition">
                <div class="line"></div>
                <h2 class="mainSecondHeadline , fontOverpass">Sefa Gür</h2>
            </div>
        </div>

        <div class="positionMail , fontOverpass">
            <div class="rotate" ngNonBindable>
                <p>Sefa_guer&#64;hotmail.com</p>
            </div>
            <div class="arrowPosition">
                <div class="animated-arrow" [@bildAnimation]>
                    <img [src]="img[pictureIndex]" />
                </div>
                <p id="aboutme">{{ 'scroll' | translate }} <br> {{ 'Down' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="aboutmePosition , hide" (window:scroll)="onScroll($event, 'aboutmePosition')">
        <div class="aboutme">
            <h1 class="fontSyne">{{ 'aboutMe' | translate }}</h1>
            <p class="fontOverpass">
                {{ 'introduction' | translate }}
              </p>
            <a href="#contact"><button class="aboutmeButton">{{ 'letsTalk' | translate }}</button></a>
        </div>
        <div class="imgContainer">
            <img class="myImg" src="assets/imgs/body/small_ohne_background.png" alt="">
            <img id="skills" class="directionLeft" src="assets/imgs/body/pfeilLinks.svg" alt="">
        </div>
    </div>

    <div class="PositionContainer , hide" (window:scroll)="onScroll($event, 'PositionContainer')">
        <div class="h1Container">
            <h1 class="fontSyne"> {{ 'mySkills' | translate }}</h1>
        </div>
        <div class="mySkills , fontOverpass">
            <div class="positionSkills">
                <div class="firstFiveSkills">
                    <div>
                        <img src="assets/imgs/body/Angular.svg" alt="">
                        <p>Angular</p>
                    </div>
                    <div>
                        <img src="assets/imgs/body/typscript.svg" alt="">
                        <p>Typescript</p>
                    </div>
                    <div>
                        <img src="assets/imgs/body/Javascript.svg" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div>
                        <img src="assets/imgs/body/html.svg" alt="">
                        <p>HTML</p>
                    </div>
                    <div>
                        <img src="assets/imgs/body/css.svg" alt="">
                        <p>CSS</p>
                    </div>
                </div>
                <div class="secondFiveSkills">
                    <div>
                        <img src="assets/imgs/body/Firebase.svg" alt="">
                        <p>Firebase</p>
                    </div>
                    <div> <img src="assets/imgs/body/git.svg" alt="">
                        <p>Git</p>
                    </div>
                    <div> <img src="assets/imgs/body/scrum.svg" alt="">
                        <p>Scrum</p>
                    </div>
                    <div> <img src="assets/imgs/body/Api.svg" alt="">
                        <p>Rest-Api</p>
                    </div>
                    <div> <img src="assets/imgs/body/materialDesign.svg" alt="">
                        <p>Material <br> Design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio" class="directionRight">
        <img src="assets/imgs/body/Pfeilrechts.svg" alt="">
    </div>