<div class="aboutmePosition , hide" (window:scroll)="onScroll($event, 'aboutmePosition')">
    <div class="aboutme">
        <h1 class="fontSyne">About me</h1>
        <p class="fontOverpass">As a Frontend Developer, I leverage my extensive experience in machine programming to
            bring a wealth of problem-solving skills and logical thinking to the world of web development. My name is
            Sefa Gür, and I apply my expertise to create innovative and efficient solutions in frontend development,
            showcasing a seamless blend of technical proficiency and creative problem-solving.</p>
        <button class="aboutmeButton">Let's talk</button>
    </div>
    <div class="imgContainer">
        <img class="myImg" src="/assets/imgs/body/small_ohne_background.png" alt="">
        <img class="directionLeft" src="/assets/imgs/body/pfeilLinks.svg" alt="">
    </div>
</div>

<div class="PositionContainer , hide" (window:scroll)="onScroll($event, 'PositionContainer')">
    <div class="h1Container">
        <h1 class="fontSyne">My skills</h1>
    </div>
    <div class="mySkills , fontOverpass">
        <div class="positionSkills">
            <div class="firstFiveSkills">
                <div>
                    <img src="/assets/imgs/body/Angular.svg" alt="">
                    <p>Angular</p>
                </div>
                <div>
                    <img src="/assets/imgs/body/typscript.svg" alt="">
                    <p>Typescript</p>
                </div>
                <div>
                    <img src="/assets/imgs/body/Javascript.svg" alt="">
                    <p>JavaScript</p>
                </div>
                <div>
                    <img src="/assets/imgs/body/html.svg" alt="">
                    <p>HTML</p>
                </div>
                <div>
                    <img src="/assets/imgs/body/css.svg" alt="">
                    <p>CSS</p>
                </div>
            </div>
            <div class="secondFiveSkills">
                <div>
                    <img src="/assets/imgs/body/Firebase.svg" alt="">
                    <p>Firebase</p>
                </div>
                <div> <img src="/assets/imgs/body/git.svg" alt="">
                    <p>Git</p>
                </div>
                <div> <img src="/assets/imgs/body/scrum.svg" alt="">
                    <p>Scrum</p>
                </div>
                <div> <img src="/assets/imgs/body/Api.svg" alt="">
                    <p>Rest-Api</p>
                </div>
                <div> <img src="/assets/imgs/body/materialDesign.svg" alt="">
                    <p>Material <br> Design</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="directionRight">
    <img src="/assets/imgs/body/Pfeilrechts.svg" alt="">
</div>