.aboutmePosition {
    display: flex;
    justify-content: center;
    margin-left: 6%;
    margin-right: 6%;
    gap: 10px;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s ease, transform 0.8s ease;
}

.imgContainer {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .myImg {
        height: 384px;
        width: 500px;
        object-fit: cover;
    }

    .directionLeft {
        Width: 306px;
        Height: 315px;
    }
}

.aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 78px;
        font-weight: 800;
    }

    p {
        font-size: 23px;
        width: 800px;
        text-align: center;
    }
}

.aboutmeButton {
    width: 213px;
    height: 68px;
    border: 4px solid black;
    font-size: 23px;
    cursor: pointer;
    background-color: #FFFCF3;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}



.mySkills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    Height: 592px;
    border: 4px solid black;
}

.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.hidden {
    opacity: 0;
    transform: translateY(400px);
}


.positionSkills {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    img {
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    p {
        font-size: 16px;
        font-weight: 700;
    }

    .firstFiveSkills {
        display: flex;
        justify-content: space-evenly;
        text-align: center;

    }

    .secondFiveSkills {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
}

.PositionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6% !important;
    margin-right: 6% !important;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s ease, transform 1s ease;
}

.h1Container {
    display: flex;
    width: 510px;
    margin-bottom: -90px;
    z-index: 998;
    background-color: #FFFCF3;

    h1 {
        font-size: 78px;
        font-weight: 800;

        &:hover {
            color: darkred;
        }
    }
}

.directionRight {
    Width: 306px;
    Height: 315px;
    margin-left: 8%;
}

.startScreen {
    height: 100vh;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideIn 0.8s ease-out;
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.mainHeadline {
    padding-top: 50px;
    font-weight: 800;
    font-size: 128px;
    margin-bottom: -40px;
}

.mainSecondHeadline {
    font-weight: 700;
    font-size: 48px;
    color: #00BC8F;
}

.line {
    Width: 628px;
    border: black solid 3px;
}

.mainSecondHeadlinePosition {
    display: flex;
    align-items: center;
    gap: 10px;
}

.positionMail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 364px;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 23px;

    .rotate {
        transform: rotate(-90deg);
        width: 30px;
    }
}

.animated-arrow {
    height: 100px;
}


@media(max-width:1050px) {
    .mainHeadline {
        transition: font-size 0.5s ease;
        font-size: 80px;
        margin-bottom: -20px;
    }

    .mainSecondHeadline {
        transition: font-size 0.5s ease;
        font-size: 30px;
    }

    .line {
        width: 300px;
    }
}


////////////////////////////////headline querry/////////////////////////////////////////
@media(max-width:650px) {
    .mainHeadline {
        transition: font-size 0.5s ease;
        font-size: 50px;
        margin-bottom: -20px;
    }

    .mainSecondHeadline {
        transition: font-size 0.5s ease;
        font-size: 25px;
    }

    .line {
        width: 300px;
    }
}

@media(max-width:550px) {
    .mainHeadline {
        transition: font-size 0.5s ease;
        font-size: 35px;
        margin-bottom: -20px;
    }

    .mainSecondHeadline {
        transition: font-size 0.5s ease;
        font-size: 25px;
    }

    .line {
        width: 150px;
    }

    .position {
        padding-top: 50px;
    }

    .positionMail {
        padding-top: 50px;
    }

}

//////////////////////////////////////////////////////////////////////////////////////////
/// 
/// ////////////////////////////////about me querry/////////////////////////////////////////

@media(max-width:1400px) {
    .aboutme {
        h1 {
            font-size: 40px;
            font-weight: 800;
        }

        p {
            font-size: 15px;
            word-wrap: break-word !important;
            width: 100%;

        }
    }
}

@media(max-width:950px) {
    .aboutme {
        h1 {
            font-size: 30px;
            font-weight: 800;
        }
    }

    .aboutmeButton {
        width: 160px;
        height: 50px;
        font-size: 15px;
    }

    .myImg {
        height: 200px !important;
        width: 200px !important;
    }

    .directionLeft {
        Width: 106px !important;
        Height: 115px !important;
    }
}

@media(max-width:550px) {
    .aboutmePosition {
        flex-direction: column;
    }

    .aboutme {
        p {
            word-wrap: break-word !important;
            min-width: 325px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
/// /// ////////////////////////////////skills querry/////////////////////////////////////////
@media(max-width:900px) {
    .h1Container {
        width: 300px;
        margin-bottom: -30px;

        h1 {
            font-size: 40px;
        }
    }
}


@media(max-width:600px) {

    .PositionContainer {
        padding-top: 40px;
    }

    .positionSkills {
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
    }

    .imgContainer {
        padding-top: 20px;

        .myImg {
            object-fit: cover;
        }
    }

    .firstFiveSkills {
        flex-direction: column;

        img {
            height: 50px !important;
            width: 50px !important;
        }
    }

    .secondFiveSkills {
        flex-direction: column;

        img {
            height: 50px !important;
            width: 50px !important;
        }
    }

    .h1Container {
        width: 200px;
        margin-bottom: -30px;

        h1 {
            font-size: 30px;
        }
    }

    .directionRight {
        img {
            Width: 206px;
            Height: 215px;
        }
    }
}

//////////////////////////////////////////////////////////////////////