<div class="contactPosition">
    <img class="Rectangle" src="assets/imgs/body/Rectangle 5 (2).svg" alt="">
    <div class="contactMargin">
        <h1 class="fontSyne">{{ 'sayHiHeading' | translate }}</h1>
        <div class="postionFormula">
            <div>
                <h2 class="fontOverpass">{{ 'newProjectTitle' | translate }}</h2>
                <p class="fontOverpass">{{ 'newProjectText' | translate }}</p>
            </div>

            <form id="contact" class="formPosition" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="box">
                    <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" name="name" class="formName"
                        type="text" placeholder="{{ 'yourNamePlaceholder' | translate }}" required>
                    @if (!name.valid && name.touched) {
                    <span class="spanMessage , fontSyne">{{ 'enterNameMessage' | translate }}</span>
                    }
                </div>
                <div  class="box">
                    <input #email="ngModel" minlength="10" [(ngModel)]="contactData.email" name="email"
                        class="formEmail" type="email" placeholder="{{ 'yourEmailPlaceholder' | translate }}" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

                    @if (!email.valid && email.touched) {
                    <span class="spanMessage , fontSyne">{{ 'enterEmailMessage' | translate }}</span>
                    }
                </div>
                <div  class="box">
                    <textarea #message="ngModel" minlength="10" [(ngModel)]="contactData.message" class="formMessage , fontSyne"
                        type="text" placeholder="{{ 'yourMessagePlaceholder' | translate }}" name="textarea" required></textarea>

                    @if (!message.valid && message.touched) {
                    <span class="spanMessage , fontSyne">{{ 'enterMessageMessage' | translate }}</span>
                    }
                </div>

                <label class="checkbox , fontOverpass"><input required type="checkbox" name="checkbox"
                        (change)="toggleEditable($event)" value="value"><a (click)="routePrivacy()"> {{ 'privacyPolicy' | translate }}</a> {{ 'privacyPolicyLabel' | translate }}</label>


                <span id="terms" class="spanMessage , fontSyne , hide">{{ 'termsErrorMessage' | translate }}</span>

                <div><button class="formButton">{{ 'sendMessageButton' | translate }}</button> <a href="#tostart"><img class="arrowPosition"
                            src="assets/imgs/body/arrow.svg" alt=""></a></div>
            </form>

        </div>
    </div>
</div>