<div class="footer">
    <div class="footerContainer">
        <div class="Footerlogo">
            <img src="/assets/imgs/footer/logo (2).svg" alt="">
            <p class="fontPoppins">Sefa Gür 2024</p>
        </div>
        <div class="footerLinksPosition">
           <div class="footerLinks">
            <img (click)="openLink('1')" src="/assets/imgs/footer/gitHub.svg" alt=""><img (click)="openLink('2')" src="/assets/imgs/footer/linked.svg" alt=""><img (click)="openLink('3')" src="/assets/imgs/footer/mail.svg" alt="">
           </div>
            <a class="fontOverpass" href="">Legal notice</a>
        </div>
    </div>
</div>